@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #ffffff;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: 'Urbanist', sans-serif; }

/*las imagenes pesan en promedio 100kb estan optimizadas*/
.body__index {
  background-image: url(../assets/img/car1.jpg); }

.body__nosotros {
  background-image: url(../assets/img/car2.jpg); }

.body__productos {
  background-image: url(../assets/img/); }

.body__contacto {
  background-image: url(../assets/img/car10.1.jpg); }

/*Menú*/
.nav {
  background-color: #00a2ff; }
  .nav__logo {
    width: 5rem; }
  .nav__item {
    padding: 0.2rem;
    margin: 0.1rem;
    border-radius: 0.5rem;
    background-color: #034aa7; }
  .nav__item a:hover {
    background-color: #020c44;
    border-radius: 0.3rem;
    color: #ffffff; }
  .nav__text {
    color: #ffffff; }

/*Main con mixin*/
main .section1 {
  padding: 0.3rem; }
  main .section1__titulo {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #022f6963;
    color: #ffd000;
    font-size: 3rem;
    padding: 2rem;
    border-radius: 1.5rem; }
  main .section1__parrafo {
    background-color: #ffffffab;
    color: #020c44;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1.5rem; }

.main {
  margin-top: 10rem; }

/*Footer*/
.footer {
  background-color: #00a2ff; }
  .footer__text {
    color: #020c44; }
  .footer__text a:hover {
    background-color: #020c44;
    border-radius: 0.3rem;
    color: #ffffff;
    padding: 0.5rem; }
  .footer__p {
    text-align: center; }
  .footer__logo {
    background-color: #ffffff;
    border-radius: 1.5rem;
    margin: 5px; }
  .footer__redes {
    background-color: #ffffff;
    border-radius: 1rem; }
